{% load static %}
<html>
    <head>
        <title>Reports</title>
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1>Report</h1>
        </div>

        <ul>
            <li><a href={% url 'index' %}>index</a></li>
            <li><a href={% url 'alpha' %}>Execute xtasklong</a></li>
            <li><a href={% url 'beta' %}>Execute xtask (ignore_result=False)</a></li>
        </ul>

    {% block content %}

    {% endblock %}

    </body>
</html>